
.md-typeset h1 {
    /*font-size: 24pt;*/
    font-weight: bold;
    /* color: #000;*/;
    border-bottom: solid 2px #2094f3;
    padding-bottom: 5px;
}

.md-typeset h2 {
    font-weight: bold;
    border-bottom: 1px dotted #888;
}

.md-typeset h2:before {
    font-weight: 900;
    content: counter(h2,decimal) ". "; /** "📌" **/
    margin-right: 5px;
}

body {
    counter-reset : h2;
}

article h2:before {
    /** content : counter(h2,decimal) ". "; **/
    counter-increment : h2;
}

h2.nocount:before {
    content : "";
    counter-increment : none;
}
